@use 'variables' as *;
@use 'root' as *;



footer{
    background-color: $green;
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--footer-margin-top);
    img{
        display: none;
    }
    p{
        line-height: 1.5;
        text-align: center;
        font-size: var(--footer-size);
        color: $white;
    }
    @include respond-to('laptop'){
    justify-content: space-between;
    padding: 0px var(--naw-menu-padding);
    img{
        display: block;
    }
    div{
        display: flex;
    }
    }
}
