$gray: #373c3f;
$white: #fff;
$cyan: #a6d6e0;
$black-text: #4c4d50;
$black-back: #3f4043;
$gray-lite: #cbccce;
$green: #acd8ad;

$breakpoints: (
  'phone': 320px,  
  'tablet': 640px,  
  'laptop': 980px,  
  'computer': 1200px
);